/* #Compétence{
    display: flex;
}

SECTION GAUCHE 

#gauche{
    flex: 1;
    background-color: purple;
    margin-right: 20px;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    height: 100%;
}

#gauche>li{
    display: flex;
    justify-content: space-between;
}

#gauche>li>img{
    height: 20px;
    width: auto;
}

 #gauche>li>p{
    margin-bottom: 5px;
} 


#millieu{
    flex: 2;
    background-color: green;
    height: 10.65cm;
}

#millieu>div{
    display: none;
}

#millieu>.active{
    display: block;
    height: 100%;
}


#droite{
    flex: 1;
    background-color: yellow;
    margin-left: 20px;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
} */

.Comp>div{
    display: grid;
    grid-template-columns: 20% 15% 40%;
}

.Comp>div>h2{
    grid-column: 1;
    text-align: right;
    font-size: x-large;
}

.Comp>div>p{
    grid-column: 3;
    text-align: center;
}

.Qual>div{
    display: grid;
    grid-template-columns: 20% 40% 15% 20%;
}

.Qual>div>h2{
    grid-column: 4;
    text-align: left;
    font-size: x-large;
}

.Qual>div>p{
    grid-column: 2;
    text-align: center;
}