.Formation{
    margin-top: -40px;
}

.parcours{
    display: flex;
    justify-content: space-around;
    height: 8%;
}

.parcours>button{
    width: 12%;
    height: 100%;
    color: black;
    background-color: white;
    border-color: black;
    border: 0;
    border-radius: 50%;
    z-index: 2;
}

.fleche{
    position:absolute;
    width: 95%;
    height: 6px;
    margin-top: 27px;
    background-color: black;
}

.parcours>p{
    position: absolute;
    right: 15px;
    font-size: 400%;
    font-weight: bolder;
    top: 22.5px;
    width: 50px;
}

/* FORMATION TEXTE + IMAGES */

.formationTexte{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.formationTexte>div>h3{
    text-align: center;
    color: black;
    font-size: 200%;
}

.formationTexte>div>p{
    width: 70%;
    margin-left: 100px;
    text-align: justify;
    max-width: 80%;
}

.formationTexte>div>img{
    height: auto;
    margin-left: 100px;
}