.formation1, .formation2{
    display: none;
}

.Formation>.active>h2, .Formation>.active>h3, .Formation>.active>p{
    text-align: center;
}

.Formation>.active>h2{
    font-size: 300%;
}

.Formation>.active>h3{
    font-size: 200%;
}


.parcours{
    display: flex;
    justify-content: space-around;
    height: 8%;
    background-color: blue;
}

.parcours>button{
    width: 12%;
    height: 100%;

    color: aqua;
    background-color: purple;
    border-color: purple;
    border-radius: 50%;
}

.parcours>button:hover{
    color: purple;
    background-color: red;
    border-color: red;
}