/* .formation1, .formation2{
    display: none;
} */

.formationTexte{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.formationTexte>div>h3{
    text-align: center;
    color: green;
    /* background-color: aqua; */
}

.formationTexte>div>p{
    text-align: justify;
}

/* .Formation>.active>h2, .Formation>.active>h3, .Formation>.active>p{
    text-align: center;
} */

/* .Formation>.active>h2{
    font-size: 300%;
}

.Formation>.active>h3{
    font-size: 200%;
} */

.parcours{
    display: flex;
    justify-content: space-around;
    height: 8%;
    /* background-color: blue; */
}

.parcours>button{
    width: 12%;
    height: 100%;
    color: aqua;
    background-color: purple;
    border: 0;
    border-radius: 50%;
    z-index: 2;
}

.parcours>button:hover{
    color: purple;
    background-color: red;
    border-color: red;
}

.active{
    display: block;
}

.fleche{
    position:absolute;
    width: 95%;
    height: 6px;
    margin-top: 27px;
    background-color: black;
}

.parcours>p{
    position: absolute;
    right: 15px;
    font-size: 400%;
    font-weight: bolder;
    top: 22.5px;
    width: 50px;
}

#Formation{
    background-color: grey;
}