header{
    position: fixed;
    height: 1.5cm;
    width: 100%;
    justify-content: space-around;
    z-index: 100;
    top: 0;
    left: 0;
}

nav{
    display: grid;
    grid-template-columns: 50% 50%;
}

nav>a{
    grid-column: 1;
    height: 40px;
    width: 40px;
    margin-left: 30%;
    margin-top: 10px;
    align-self: center;
}

nav>a>img{
    height: 100%;
}

nav>div{
    grid-column: 2;
    display: flex;
    margin-top: 0.5cm;
    justify-content: space-around;
}

nav>div>a{
    color: white;
    text-decoration:none;
}