header, nav{
    height: 1.5cm;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    
}

nav{
    position:sticky;
    top: 10%;
}

nav>a{
    margin-top: 0.5cm;
    text-decoration:none;
}