#Projet {
    width: 90%;
    margin: 0 auto;
    height: 80vh;
}

.TitreProjet{
    text-align: center;
}

.projets {
    display: flex;
    height: 80vh;
    padding: 20px;
    gap: 20px;
}

.ListeProjet {
    width: 20%;
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* overflow-y: auto; */
}

.ListeProjet li {
    list-style: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.ListeProjet li:hover {
    background: #e9ecef;
}

.DescriptionProjet {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #e9ecef;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
    margin-left: 20px;
}

.DescriptionProjet .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.DescriptionProjet h1 {
    margin: 0;
    font-size: 24px;
}

.DescriptionProjet p {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}

.DescriptionProjet button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.DescriptionProjet button:hover {
    background-color: #0056b3;
}

.DescriptionProjet img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
}