#Projet>section>div{
    display: absolute;
}
#Projet{
    height: 100%;
}

#Projet>section>p{
    margin-left: 3.5cm;
    width: 5cm;
    text-decoration: underline;
    font-weight: bold;
}

.projet1, .projet2, .projet3{
    display: none;
}

.test{
    display: grid;
    grid-template-columns: 30% 4% 66%;
    /* background-color: yellow; */
}

/* Button de choix de projet */

.Button{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.Button>button{
    width: 100%;
    height: 3cm;
    color: black;
    font-weight: bold;
    text-align: justify;
    /* text-align: center; */
    font-size: larger;
    background-color: green;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.Button>button:nth-child(1){
    background-image: url("../image/agile.png"); 
}

.Button>button:nth-child(2){
    background-image: url("../image/app.png"); 
}

.Button>button:nth-child(3){
    background-image: url("../image/Thales.png"); 
}

.Button>.active{
    opacity: 50%;
}

.Button>button:hover{
    /* height: 50%; */
    opacity: 80%;
}

/* Affichage description du projet */

.projet{
    grid-column: 3;
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
}

.projet>.active{
    display: flex;
    height: 100%;
}

/* Affichage texte du projet */

.projetTexte{ 
    flex: 1;
    background-color: lightgray;
    border-radius: 15% 0% 0% 15%;
    /* margin-right: 10px; */
}

/* Affichage image du projet */

.imageProjet{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: brown;
}

.projetTexte>h2, .projetTexte>h3{
    text-align: center;
}

.projetTexte>p{
    text-align: justify;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
}

.projetTexte>a{
    position:static;
    bottom: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    /* background-color: yellow; */
}