#Projet>div{
    display: absolute;
}

.projet1, .projet2, .projet3, .projet4, .projet5{
    display: none;
}

.active{
    display: block;
}

.Button{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.Button>button{
    width: 100%;
    height: 2cm;
    background-color: green;
}

.projet{
    grid-column: 3;
    height: 100%;
    width: 90%;
    background-color: blueviolet;
}

.test{
    display: grid;
    grid-template-columns: 30% 10% 60%;
    background-color: yellow;
}

.imageProjet{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: brown;
}

.projetTexte{ 
    flex: 1;
    background-color: blue;
}

.projet>.active{
    display: flex;
    height: 100%;
}
