section{
    height: 100%;
    width: 100%;
    background-color: red;
}

section>h1{
    text-align: center;
    color: black;
}

section>section{
    height: 50%;
    padding: 20px;
}

section>section>li{
    display: flex;
}

#Accueil{   
    background-color: lightblue;
}

#Accueil>section{
    position: absolute; 
    background-color: chocolate;
    width: 40%;
    left: 10%;
}

.profil{
    position: absolute; 
    width: 20%;
    height: auto;
    right: 10%;
}

#Accueil>a{
    position: absolute; 
    left: 45%;
    bottom: 10%;
}

#parcours{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.ligne-traversant {
    position:static;
    top: 50%; /* Positionnez la ligne au milieu du bloc */
    left: 0;
    width: 100%; /* La ligne occupe toute la largeur du bloc */
    border-top: 2px solid black; /* Épaisseur et couleur de la ligne */
    transform: translateY(-50%); /* Ajuste la position verticale pour centrer */
}